<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32020">
        <setting id="hide-successful-login-messages" type="bool" label="32021" default="false" />
        <setting type="lsep" label="32022" />
        <setting id="username" type="text" label="32023" default="" />
        <setting id="password" type="text" label="32024" default="" option="hidden" />
        <setting id="auto_download" type="bool" label="32025" default="false" />
        <setting id="timeswitch" type="enum" label="32026" default="0" values="$HOURS" enable="eq(-1,true)" />
        <setting id="path" type="folder" label="32027" default="choose"/>
        <setting type="lsep" label="32028" />
        <setting id="manual_download" type="action" label="32029" action="XBMC.RunScript(service.takealugepgdownloader, manual_download)" option="close" />
    </category>
    <category label="32030">
        <setting id="choose_epg" type="select" label="32031" lvalues="32010|32011|32012|32013|32014|32001|32016|32017|32018|32019" default="None" />
    </category>
</settings>
