<settings>
    <category label="Settings">
        <setting id="hide-successful-login-messages" type="bool" label="Hide Login Messages" default="false" />
        <setting id="username" type="text" label="Username" default="" />
        <setting id="password" type="text" label="Password" default="" option="hidden" />
        <setting id="auto_download" type="bool" label="Auto Download on Boot" default="false" />
        <setting id="timeswitch" type="enum" label="Daily Download at " default="false" values="$HOURS" />
        <setting id="path" type="folder" label="Download Folder" default="choose"/>
        <setting type="sep" label="Actions" />
        <setting id="manual_download" type="action" label="Initiate manual Download now" action="XBMC.RunScript(service.takealugepgdownloader, manual_download)" option="close" />

    </category>
    <category label="Choose EPG Source">
        <setting id="choose_epg" type="select" label="File" values="None|Premium DE AT CH 12-14Day|Premium easyEPG 12-14Day|Premium Zattoo DE 12-14Day|Premium Zattoo CH 12-14Day||Free Zattoo DE 3-5Day|Free Zattoo CH 3-5Day|Free DE AT CH 3-5Day|Free easyEPG 3-5Day" default="None"/>
    </category>
</settings>